#root {
  display: flex;
}
.App__container {
  display: flex;
  flex-flow: column;
  padding: 0.5em;
  margin: 0 auto;
}
.App {
  background: #bdbdbd;
  padding: 1em;
  margin: 0 auto;
}
.App__header {
  display: flex;
  @include drop-section;
  margin-bottom: 10px;
  padding: 0.25em 0.5em;
  > * {
    flex: 0 0 auto;
  }
  > *:first-child,
  > *:last-child {
    flex: 1 1 0;
  }
}
.App {
  &:after {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    z-index: -1;
  }
}
.App--won {
  &:after {
    content: '';
    background: url(/images/confetti.gif) repeat;
  }
}
.App--lost {
  &:after {
    content: '';
    background: url(/images/muppet-blow-up.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
  }
}
.App--lost,
.App--won {
  .ResetButton {
    transform: scale(2)
  }
}