@mixin button {
  background: #bdbdbd;
  border-top: 4px solid #ffffff;
  border-left: 4px solid #ffffff;
  border-right: 4px solid #7b7b7b;
  border-bottom: 4px solid #7b7b7b;
  box-shadow: 0 0 0 1px #7b7b7b;
  border-radius: 0;
}
@mixin drop-section {
  background: #bdbdbd;
  border-top: 4px solid #7b7b7b;
  border-left: 4px solid #7b7b7b;
  border-right: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
}