.Modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(black, 0.875);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.Modal__inner {
  background: white;
  border-radius: 0.25em;
  padding: 1em;
}



.modal__button-container {
  padding: 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.modal__button {
  cursor: pointer;
  color: #0275d8;

  text-transform: uppercase;
  font-weight: bold;
  user-select: none;
  border: 1px solid #0275d8;
  padding: 0.5em 1em;
  border-radius: 0.25em;

  line-height: 1.25;

  transition: all .15s ease-in-out;
  &:hover {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
  }
  &.no-border {
    border: none;
  }
}

/*
 * Form
 */
.form__item {
  margin-bottom: 1em;
  &:last-child {
    margin-bottom: 0;
  }
}
.form__label {
  display: block;
}
.form__input-slider {
  width: 140px;
}
.form__output {

}