.ResetButton__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25em 0;
}
.ResetButton {
  height: 44px;
  width: 44px;
  padding: 0;
  @include button;
  &:active .ResetButton__inner {
    background-size: 28px 28px;
    background-image: url(/images/icon-face-with-open-mouth.png);
  }
}
.ResetButton__inner {
  width: 100%;
  height: 100%;
  background-size: 32px 32px;
  background-position: center center;
  background-image: url(/images/icon-slightly-smiling-face.png);
  .ResetButton--win & {
    background-image: url(/images/icon-smiling-face-with-sunglasses.png);
  }
  .ResetButton--shocked & {
    background-image: url(/images/icon-face-with-open-mouth.png);
  }
  .ResetButton--lost & {
    background-image: url(/images/icon-dizzy-face.png);
  }
}
