.ResetButton__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25em 0;
}
.ResetButton {
  height: 53px;
  width: 53px;
  padding: 4px;
  @include button;
}
.ResetButton__inner {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-image: url(/images/icon-slightly-smiling-face.png);
  .ResetButton--sunglasses-face & {
    background-image: url(/images/icon-smiling-face-with-sunglasses.png);
  }
  .ResetButton--open-mouth-face & {
    background-image: url(/images/icon-face-with-open-mouth.png);
  }
  .ResetButton--dead-face & {
    background-image: url(/images/icon-dizzy-face.png);
  }
}
