.Square {
  @include button;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  &.is-swept {
    border: 1px solid #7b7b7b;
    box-shadow: none;
  }
}
.Square__inner {
  width: 20px;
  height: 20px;
  background-size: contain;
  .Square.is-mine & {
    background-image: url(/images/icon-bomb.png);
  }
  .Square.is-flag & {
    background-image: url(/images/icon-triangular-flag-on-post.png);
  }
}