.Square {
  @include button;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: 100ms border;
  &.is-swept {
    border: 1px solid #7b7b7b;
    box-shadow: none;
  }
  &.not-swept:active {
    @include drop-section;
  }
}
.Square__inner {
  width: 20px;
  height: 20px;
  background-size: contain;
  .Square.is-mine & {
    background-image: url(/images/icon-bomb.png);
  }
  .Square.is-flag & {
    background-image: url(/images/icon-triangular-flag-on-post.png);
  }
  .Square.is-exploding & {
    background-image: url(/images/icon-collision-symbol.png), url(/images/icon-bomb.png);
  }
}
.Square.is-exploding {
  background-color: #f20d1b;
}

.Square__helper {
  @include game-font;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 1.75em;
  margin-top: 1px;
  &.has-1 { color: #0700f9; }
  &.has-2 { color: #007b17; }
  &.has-3 { color: #ff041d; }
  &.has-4 { color: #010077; }
  &.has-5 { color: #800108; }
}
.App--lost,
.App--won {
  .Square.not-swept:active {
    @include button
  }
}

/*
 * Preload images:
 */
body:after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content:
    url('/images/icon-bomb.png')
    url('/images/icon-triangular-flag-on-post.png')
    url('/images/icon-collision-symbol.png')
    url('/images/icon-bomb.png');
}