body {
  font-family: Arial, Helvetica, sans-serif;
}

@mixin game-font {
  font-family: 'Baloo Paaji', cursive;
}
@font-face {
  font-family: 'led16sgmnt';
  src: url('/fonts/led16sgmnt-Regular.ttf');
}
@mixin led-font {
  font-family: 'led16sgmnt';
  color: #f20d1b;
}