@mixin game-font {
  font-family: 'Press Start 2P', cursive;
  font-weight: 700;
}
@font-face {
  font-family: 'led16sgmnt';
  src: url('/fonts/led16sgmnt-Regular.ttf');
}
@mixin led-font {
  font-family: 'led16sgmnt';
  color: #f20d1b;
}