html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  min-height: 100%;
  display: flex;
  flex-flow: column nowrap; }

body {
  flex: 1 0 0%;
  overflow-x: hidden; }

*, *:before, *:after {
  box-sizing: inherit;
  background-repeat: no-repeat; }

*:focus {
  outline: none; }

body,
figure,
li {
  margin: 0;
  padding: 0; }

img,
input,
textarea,
svg {
  max-width: 100%; }

img {
  height: auto;
  border: none;
  vertical-align: middle; }

table {
  border-collapse: collapse; }
  table tbody {
    border-top: none; }

ul, ol, p {
  padding: 0;
  margin: 0 0 1em; }

[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button; }

body {
  font-family: Arial, Helvetica, sans-serif; }

@font-face {
  font-family: 'led16sgmnt';
  src: url("/fonts/led16sgmnt-Regular.ttf"); }

.Modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.875);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.Modal__inner {
  background: white;
  border-radius: 0.25em;
  padding: 1em; }

.modal__button-container {
  padding: 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.modal__button {
  cursor: pointer;
  color: #0275d8;
  text-transform: uppercase;
  font-weight: bold;
  user-select: none;
  border: 1px solid #0275d8;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  line-height: 1.25;
  transition: all .15s ease-in-out; }
  .modal__button:hover {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8; }
  .modal__button.no-border {
    border: none; }

/*
 * Form
 */
.form__item {
  margin-bottom: 1em; }
  .form__item:last-child {
    margin-bottom: 0; }

.form__label {
  display: block; }

.form__input-slider {
  width: 140px; }

#root {
  display: flex; }

.App__container {
  display: flex;
  flex-flow: column;
  padding: 0.5em;
  margin: 0 auto; }

.App {
  background: #bdbdbd;
  padding: 1em;
  margin: 0 auto; }

.App__header {
  display: flex;
  background: #bdbdbd;
  border-top: 4px solid #7b7b7b;
  border-left: 4px solid #7b7b7b;
  border-right: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  margin-bottom: 10px;
  padding: 0.25em 0.5em; }
  .App__header > * {
    flex: 0 0 auto; }
  .App__header > *:first-child,
  .App__header > *:last-child {
    flex: 1 1 0; }

.App:after {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  z-index: -1; }

.App--won:after {
  content: '';
  background: url(/images/confetti.gif) repeat; }

.App--lost:after {
  content: '';
  background: url(/images/muppet-blow-up.jpg) no-repeat;
  background-size: cover;
  background-position: center center; }

.App--lost .ResetButton,
.App--won .ResetButton {
  transform: scale(2); }

.Board {
  background: #bdbdbd;
  border-top: 4px solid #7b7b7b;
  border-left: 4px solid #7b7b7b;
  border-right: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff; }

.Board__inner {
  margin: -1px; }

.Board__row {
  display: flex; }

.ResetButton__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25em 0; }

.ResetButton {
  height: 44px;
  width: 44px;
  padding: 0;
  background: #bdbdbd;
  border-top: 4px solid #ffffff;
  border-left: 4px solid #ffffff;
  border-right: 4px solid #7b7b7b;
  border-bottom: 4px solid #7b7b7b;
  box-shadow: 0 0 0 1px #7b7b7b;
  border-radius: 0;
  transition: 150ms; }
  .ResetButton:active {
    background: #bdbdbd;
    border-top: 4px solid #7b7b7b;
    border-left: 4px solid #7b7b7b;
    border-right: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff; }
    .ResetButton:active .ResetButton__inner {
      background-size: 28px 28px;
      background-image: url(/images/icon-face-with-open-mouth.png); }

.ResetButton__inner {
  width: 100%;
  height: 100%;
  background-size: 32px 32px;
  background-position: center center;
  background-image: url(/images/icon-slightly-smiling-face.png); }
  .ResetButton--win .ResetButton__inner {
    background-image: url(/images/icon-smiling-face-with-sunglasses.png); }
  .ResetButton--shocked .ResetButton__inner {
    background-image: url(/images/icon-face-with-open-mouth.png); }
  .ResetButton--lost .ResetButton__inner {
    background-image: url(/images/icon-dizzy-face.png); }

.timer {
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .timer:first-child {
    align-items: flex-start; }
  .timer:last-child {
    align-items: flex-end; }

.timer__inner {
  font-family: 'led16sgmnt';
  color: #f20d1b;
  background: black;
  line-height: 1;
  padding: 0.2em 0.175em 0;
  font-size: 2.2em; }

.Square {
  background: #bdbdbd;
  border-top: 4px solid #ffffff;
  border-left: 4px solid #ffffff;
  border-right: 4px solid #7b7b7b;
  border-bottom: 4px solid #7b7b7b;
  box-shadow: 0 0 0 1px #7b7b7b;
  border-radius: 0;
  width: 32px;
  height: 32px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: 50ms border; }
  .Square.is-swept {
    border: 1px solid #7b7b7b;
    box-shadow: none; }
    .Square.is-swept:after {
      background: transparent;
      transition-duration: 150ms; }
  .Square.not-swept:active {
    background: #bdbdbd;
    border-top: 4px solid #7b7b7b;
    border-left: 4px solid #7b7b7b;
    border-right: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff; }
  .Square.has-delay-1, .Square.has-delay-1:after {
    transition-delay: 55ms; }
  .Square.has-delay-2, .Square.has-delay-2:after {
    transition-delay: 110ms; }
  .Square.has-delay-3, .Square.has-delay-3:after {
    transition-delay: 165ms; }
  .Square.has-delay-4, .Square.has-delay-4:after {
    transition-delay: 220ms; }
  .Square.has-delay-5, .Square.has-delay-5:after {
    transition-delay: 275ms; }
  .Square.has-delay-6, .Square.has-delay-6:after {
    transition-delay: 330ms; }
  .Square.has-delay-7, .Square.has-delay-7:after {
    transition-delay: 385ms; }
  .Square.has-delay-8, .Square.has-delay-8:after {
    transition-delay: 440ms; }
  .Square.has-delay-9, .Square.has-delay-9:after {
    transition-delay: 495ms; }
  .Square.has-delay-10, .Square.has-delay-10:after {
    transition-delay: 550ms; }
  .Square.has-delay-11, .Square.has-delay-11:after {
    transition-delay: 605ms; }
  .Square.has-delay-12, .Square.has-delay-12:after {
    transition-delay: 660ms; }
  .Square.has-delay-13, .Square.has-delay-13:after {
    transition-delay: 715ms; }
  .Square.has-delay-14, .Square.has-delay-14:after {
    transition-delay: 770ms; }
  .Square.has-delay-15, .Square.has-delay-15:after {
    transition-delay: 825ms; }
  .Square.has-delay-16, .Square.has-delay-16:after {
    transition-delay: 880ms; }
  .Square.has-delay-17, .Square.has-delay-17:after {
    transition-delay: 935ms; }
  .Square.has-delay-18, .Square.has-delay-18:after {
    transition-delay: 990ms; }
  .Square.has-delay-19, .Square.has-delay-19:after {
    transition-delay: 1045ms; }
  .Square.has-delay-20, .Square.has-delay-20:after {
    transition-delay: 1100ms; }
  .Square.has-delay-21, .Square.has-delay-21:after {
    transition-delay: 1155ms; }
  .Square.has-delay-22, .Square.has-delay-22:after {
    transition-delay: 1210ms; }
  .Square.has-delay-23, .Square.has-delay-23:after {
    transition-delay: 1265ms; }
  .Square.has-delay-24, .Square.has-delay-24:after {
    transition-delay: 1320ms; }
  .Square.has-delay-25, .Square.has-delay-25:after {
    transition-delay: 1375ms; }
  .Square.has-delay-26, .Square.has-delay-26:after {
    transition-delay: 1430ms; }
  .Square.has-delay-27, .Square.has-delay-27:after {
    transition-delay: 1485ms; }
  .Square.has-delay-28, .Square.has-delay-28:after {
    transition-delay: 1540ms; }
  .Square.has-delay-29, .Square.has-delay-29:after {
    transition-delay: 1595ms; }
  .Square.has-delay-30, .Square.has-delay-30:after {
    transition-delay: 1650ms; }
  .Square.has-delay-31, .Square.has-delay-31:after {
    transition-delay: 1705ms; }
  .Square.has-delay-32, .Square.has-delay-32:after {
    transition-delay: 1760ms; }
  .Square.has-delay-33, .Square.has-delay-33:after {
    transition-delay: 1815ms; }
  .Square.has-delay-34, .Square.has-delay-34:after {
    transition-delay: 1870ms; }
  .Square.has-delay-35, .Square.has-delay-35:after {
    transition-delay: 1925ms; }
  .Square.has-delay-36, .Square.has-delay-36:after {
    transition-delay: 1980ms; }
  .Square.has-delay-37, .Square.has-delay-37:after {
    transition-delay: 2035ms; }
  .Square.has-delay-38, .Square.has-delay-38:after {
    transition-delay: 2090ms; }
  .Square.has-delay-39, .Square.has-delay-39:after {
    transition-delay: 2145ms; }
  .Square.has-delay-40, .Square.has-delay-40:after {
    transition-delay: 2200ms; }
  .Square.has-delay-41, .Square.has-delay-41:after {
    transition-delay: 2255ms; }
  .Square.has-delay-42, .Square.has-delay-42:after {
    transition-delay: 2310ms; }
  .Square.has-delay-43, .Square.has-delay-43:after {
    transition-delay: 2365ms; }
  .Square.has-delay-44, .Square.has-delay-44:after {
    transition-delay: 2420ms; }
  .Square.has-delay-45, .Square.has-delay-45:after {
    transition-delay: 2475ms; }
  .Square.has-delay-46, .Square.has-delay-46:after {
    transition-delay: 2530ms; }
  .Square.has-delay-47, .Square.has-delay-47:after {
    transition-delay: 2585ms; }
  .Square.has-delay-48, .Square.has-delay-48:after {
    transition-delay: 2640ms; }
  .Square.has-delay-49, .Square.has-delay-49:after {
    transition-delay: 2695ms; }
  .Square.has-delay-50, .Square.has-delay-50:after {
    transition-delay: 2750ms; }
  .Square.has-delay-51, .Square.has-delay-51:after {
    transition-delay: 2805ms; }
  .Square.has-delay-52, .Square.has-delay-52:after {
    transition-delay: 2860ms; }
  .Square.has-delay-53, .Square.has-delay-53:after {
    transition-delay: 2915ms; }
  .Square.has-delay-54, .Square.has-delay-54:after {
    transition-delay: 2970ms; }
  .Square.has-delay-55, .Square.has-delay-55:after {
    transition-delay: 3025ms; }
  .Square.has-delay-56, .Square.has-delay-56:after {
    transition-delay: 3080ms; }
  .Square.has-delay-57, .Square.has-delay-57:after {
    transition-delay: 3135ms; }
  .Square.has-delay-58, .Square.has-delay-58:after {
    transition-delay: 3190ms; }
  .Square.has-delay-59, .Square.has-delay-59:after {
    transition-delay: 3245ms; }
  .Square.has-delay-60, .Square.has-delay-60:after {
    transition-delay: 3300ms; }
  .Square:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #bdbdbd; }

.Square__inner {
  width: 20px;
  height: 20px;
  background-size: contain; }
  .Square.is-mine .Square__inner {
    background-image: url(/images/icon-bomb.png); }
  .Square.is-flag .Square__inner {
    background-image: url(/images/icon-triangular-flag-on-post.png); }
  .Square.is-exploding .Square__inner {
    background-image: url(/images/icon-collision-symbol.png), url(/images/icon-bomb.png); }

.Square.is-flag:after {
  background: transparent;
  transition: 150ms; }

.Square.is-exploding {
  background-color: #f20d1b; }

.Square__helper {
  font-family: 'Baloo Paaji', cursive;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 1.75em;
  margin-top: 1px; }
  .Square__helper.has-1 {
    color: #0700f9; }
  .Square__helper.has-2 {
    color: #007b17; }
  .Square__helper.has-3 {
    color: #ff041d; }
  .Square__helper.has-4 {
    color: #010077; }
  .Square__helper.has-5 {
    color: #800108; }

.App--lost .Square.not-swept:active,
.App--won .Square.not-swept:active {
  background: #bdbdbd;
  border-top: 4px solid #ffffff;
  border-left: 4px solid #ffffff;
  border-right: 4px solid #7b7b7b;
  border-bottom: 4px solid #7b7b7b;
  box-shadow: 0 0 0 1px #7b7b7b;
  border-radius: 0; }

/*
 * Preload images:
 */
body:after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url("/images/icon-bomb.png") url("/images/icon-triangular-flag-on-post.png") url("/images/icon-collision-symbol.png") url("/images/icon-bomb.png"); }
