html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  min-height: 100%;
  display: flex;
  flex-flow: column nowrap; }

body {
  flex: 1 0 0%;
  overflow-x: hidden; }

*, *:before, *:after {
  box-sizing: inherit;
  background-repeat: no-repeat; }

*:focus {
  outline: none; }

body,
figure,
li {
  margin: 0;
  padding: 0; }

img,
input,
textarea,
svg {
  max-width: 100%; }

img {
  height: auto;
  border: none;
  vertical-align: middle; }

table {
  border-collapse: collapse; }
  table tbody {
    border-top: none; }

ul, ol, p {
  padding: 0;
  margin: 0 0 1em; }

[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button; }

#root {
  display: flex; }

.App {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  background: #bdbdbd;
  padding: 1em; }

.App__header {
  display: flex;
  background: #bdbdbd;
  border-top: 4px solid #7b7b7b;
  border-left: 4px solid #7b7b7b;
  border-right: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  margin-bottom: 10px; }
  .App__header > * {
    flex: 0 0 33.33%; }

.Board {
  background: #bdbdbd;
  border-top: 4px solid #7b7b7b;
  border-left: 4px solid #7b7b7b;
  border-right: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff; }

.Board__inner {
  margin: -1px; }

.Board__row {
  display: flex; }

.ResetButton__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25em 0; }

.ResetButton {
  height: 53px;
  width: 53px;
  padding: 6px;
  background: #bdbdbd;
  border-top: 4px solid #ffffff;
  border-left: 4px solid #ffffff;
  border-right: 4px solid #7b7b7b;
  border-bottom: 4px solid #7b7b7b;
  box-shadow: 0 0 0 1px #7b7b7b; }

.ResetButton__inner {
  border-radius: 50%;
  background: #fffc38;
  border: 2px solid black;
  width: 100%;
  height: 100%;
  position: relative; }

.ResetButton__left-eye,
.ResetButton__right-eye {
  position: absolute;
  top: 10px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: black; }

.ResetButton__left-eye {
  left: 7px; }

.ResetButton__right-eye {
  right: 7px; }

.ResetButton__mouth {
  position: absolute;
  bottom: 5px;
  left: 50%;
  margin-left: -6px;
  display: block;
  width: 12px;
  height: 5px;
  border-radius: 0 0 8px 8px;
  border-bottom: 2px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black; }

/*
 * O-face:
 */
.ResetButton--o-face .ResetButton__mouth {
  border: 2px solid black;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-left: -4px; }

.ResetButton--o-face .ResetButton__left-eye,
.ResetButton--o-face .ResetButton__right-eye {
  transform: scale(1.5); }

/*
 * Dead-face:
 */
.ResetButton--dead-face .ResetButton__mouth {
  transform: rotate(180deg); }

.ResetButton--dead-face .ResetButton__left-eye {
  left: 9px; }

.ResetButton--dead-face .ResetButton__right-eye {
  right: 9px; }

.ResetButton--dead-face .ResetButton__left-eye,
.ResetButton--dead-face .ResetButton__right-eye {
  width: 0;
  height: 0;
  background: none; }
  .ResetButton--dead-face .ResetButton__left-eye:before, .ResetButton--dead-face .ResetButton__left-eye:after,
  .ResetButton--dead-face .ResetButton__right-eye:before,
  .ResetButton--dead-face .ResetButton__right-eye:after {
    content: '';
    display: block;
    background: black;
    transform: rotate(45deg);
    position: absolute; }
  .ResetButton--dead-face .ResetButton__left-eye:before,
  .ResetButton--dead-face .ResetButton__right-eye:before {
    width: 1px;
    height: 9px;
    margin-top: -4px; }
  .ResetButton--dead-face .ResetButton__left-eye:after,
  .ResetButton--dead-face .ResetButton__right-eye:after {
    width: 9px;
    height: 1px;
    margin-left: -4px; }

/*
 * Sunglasses-face
 */
.ResetButton--sunglasses-face .ResetButton__left-eye,
.ResetButton--sunglasses-face .ResetButton__right-eye {
  width: 7px;
  height: 7px; }

.ResetButton--sunglasses-face .ResetButton__left-eye:after,
.ResetButton--sunglasses-face .ResetButton__right-eye:after {
  content: '';
  display: block;
  width: 8px;
  height: 1px;
  background: black; }

.ResetButton--sunglasses-face .ResetButton__left-eye:after {
  transform: rotate(-15deg);
  margin: 4px 0 0 -8px; }

.ResetButton--sunglasses-face .ResetButton__right-eye:after {
  transform: rotate(15deg);
  margin: 4px 0 0 6px; }

.Timer {
  font-family: 'Orbitron', sans-serif;
  color: #f20d1b;
  background: black; }

.Square {
  background: #bdbdbd;
  border-top: 4px solid #ffffff;
  border-left: 4px solid #ffffff;
  border-right: 4px solid #7b7b7b;
  border-bottom: 4px solid #7b7b7b;
  box-shadow: 0 0 0 1px #7b7b7b;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .Square.is-swept {
    border: 1px solid #7b7b7b;
    box-shadow: none; }

.Square.is-mine .Square__inner {
  width: 20px;
  height: 20px;
  background: black;
  border-radius: 50%; }
  .Square.is-mine .Square__inner:after {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    background: #ffffff;
    border-radius: 50%;
    margin: 5px 0 0 5px;
    box-shadow: 0 0 2px #ffffff; }
