html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  min-height: 100%;
  display: flex;
  flex-flow: column nowrap; }

body {
  flex: 1 0 0%;
  overflow-x: hidden; }

*, *:before, *:after {
  box-sizing: inherit;
  background-repeat: no-repeat; }

*:focus {
  outline: none; }

body,
figure,
li {
  margin: 0;
  padding: 0; }

img,
input,
textarea,
svg {
  max-width: 100%; }

img {
  height: auto;
  border: none;
  vertical-align: middle; }

table {
  border-collapse: collapse; }
  table tbody {
    border-top: none; }

ul, ol, p {
  padding: 0;
  margin: 0 0 1em; }

[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button; }

@font-face {
  font-family: 'led16sgmnt';
  src: url("/fonts/led16sgmnt-Regular.ttf"); }

.Modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.875);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.Modal__inner {
  background: white;
  border-radius: 0.25em;
  padding: 1em; }

.modal__button-container {
  padding: 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.modal__button {
  cursor: pointer;
  color: #0275d8;
  text-transform: uppercase;
  font-weight: bold;
  user-select: none;
  border: 1px solid #0275d8;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  line-height: 1.25;
  transition: all .15s ease-in-out; }
  .modal__button:hover {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8; }
  .modal__button.no-border {
    border: none; }

/*
 * Form
 */
.form__item {
  margin-bottom: 1em; }
  .form__item:last-child {
    margin-bottom: 0; }

.form__label {
  display: block; }

.form__input-slider {
  width: 140px; }

#root {
  display: flex; }

.App__container {
  display: flex;
  flex-flow: column;
  margin: 0 auto; }

.App {
  background: #bdbdbd;
  padding: 1em; }

.App__header {
  display: flex;
  background: #bdbdbd;
  border-top: 4px solid #7b7b7b;
  border-left: 4px solid #7b7b7b;
  border-right: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  margin-bottom: 10px;
  padding: 0.25em 0.5em; }
  .App__header > * {
    flex: 0 0 auto; }
  .App__header > *:first-child,
  .App__header > *:last-child {
    flex: 1 1 0; }

.App:after {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  z-index: -1; }

.App--won:after {
  content: '';
  background: url(/images/confetti.gif) repeat; }

.App--lost:after {
  content: '';
  background: url(/images/muppet-blow-up.jpg) no-repeat;
  background-size: cover;
  background-position: center center; }

.App--lost .ResetButton,
.App--won .ResetButton {
  transform: scale(2); }

.Board {
  background: #bdbdbd;
  border-top: 4px solid #7b7b7b;
  border-left: 4px solid #7b7b7b;
  border-right: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff; }

.Board__inner {
  margin: -1px; }

.Board__row {
  display: flex; }

.ResetButton__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25em 0; }

.ResetButton {
  height: 44px;
  width: 44px;
  padding: 0;
  background: #bdbdbd;
  border-top: 4px solid #ffffff;
  border-left: 4px solid #ffffff;
  border-right: 4px solid #7b7b7b;
  border-bottom: 4px solid #7b7b7b;
  box-shadow: 0 0 0 1px #7b7b7b;
  border-radius: 0;
  transition: 150ms; }
  .ResetButton:active {
    background: #bdbdbd;
    border-top: 4px solid #7b7b7b;
    border-left: 4px solid #7b7b7b;
    border-right: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff; }
    .ResetButton:active .ResetButton__inner {
      background-size: 28px 28px;
      background-image: url(/images/icon-face-with-open-mouth.png); }

.ResetButton__inner {
  width: 100%;
  height: 100%;
  background-size: 32px 32px;
  background-position: center center;
  background-image: url(/images/icon-slightly-smiling-face.png); }
  .ResetButton--win .ResetButton__inner {
    background-image: url(/images/icon-smiling-face-with-sunglasses.png); }
  .ResetButton--shocked .ResetButton__inner {
    background-image: url(/images/icon-face-with-open-mouth.png); }
  .ResetButton--lost .ResetButton__inner {
    background-image: url(/images/icon-dizzy-face.png); }

.timer {
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .timer:first-child {
    align-items: flex-start; }
  .timer:last-child {
    align-items: flex-end; }

.timer__inner {
  font-family: 'led16sgmnt';
  color: #f20d1b;
  background: black;
  line-height: 1;
  padding: 0.2em 0.175em 0;
  font-size: 2.2em; }

.Square {
  background: #bdbdbd;
  border-top: 4px solid #ffffff;
  border-left: 4px solid #ffffff;
  border-right: 4px solid #7b7b7b;
  border-bottom: 4px solid #7b7b7b;
  box-shadow: 0 0 0 1px #7b7b7b;
  border-radius: 0;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: 50ms border; }
  .Square.is-swept {
    border: 1px solid #7b7b7b;
    box-shadow: none; }
  .Square.not-swept:active {
    background: #bdbdbd;
    border-top: 4px solid #7b7b7b;
    border-left: 4px solid #7b7b7b;
    border-right: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff; }

.Square__inner {
  width: 20px;
  height: 20px;
  background-size: contain; }
  .Square.is-mine .Square__inner {
    background-image: url(/images/icon-bomb.png); }
  .Square.is-flag .Square__inner {
    background-image: url(/images/icon-triangular-flag-on-post.png); }
  .Square.is-exploding .Square__inner {
    background-image: url(/images/icon-collision-symbol.png), url(/images/icon-bomb.png); }

.Square.is-exploding {
  background-color: #f20d1b; }

.Square__helper {
  font-family: 'Baloo Paaji', cursive;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 1.75em;
  margin-top: 1px; }
  .Square__helper.has-1 {
    color: #0700f9; }
  .Square__helper.has-2 {
    color: #007b17; }
  .Square__helper.has-3 {
    color: #ff041d; }
  .Square__helper.has-4 {
    color: #010077; }
  .Square__helper.has-5 {
    color: #800108; }

.App--lost .Square.not-swept:active,
.App--won .Square.not-swept:active {
  background: #bdbdbd;
  border-top: 4px solid #ffffff;
  border-left: 4px solid #ffffff;
  border-right: 4px solid #7b7b7b;
  border-bottom: 4px solid #7b7b7b;
  box-shadow: 0 0 0 1px #7b7b7b;
  border-radius: 0; }

/*
 * Preload images:
 */
body:after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url("/images/icon-bomb.png") url("/images/icon-triangular-flag-on-post.png") url("/images/icon-collision-symbol.png") url("/images/icon-bomb.png"); }
